.container{
    display: flex;
    flex-direction: column;
    gap: 8rem;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
}

.headerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title{
    font-size: 8rem;
    font-weight: 900;
}

.title strong{
    font-size: 10rem;
    color: #0a0868;
}

.subTitle{
    font-size: 1rem;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}