.container,.containerRoubo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerRoubo{
    gap: 10px;
    padding: 20px;
}

.containerStatics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}