.container{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.containerStatics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}