.myBtn{
    color: #FFF;
    background-color: #0a0868;
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    padding: 10px;
    cursor: pointer;

    transition: all .2s ease-in-out;
}

.myBtn:hover{
    transform: scale(1.1);
}