.answer{
    cursor: pointer;
    display: flex;
    height: 100px;
    margin: 10px;
    min-width: 500px;
}

.content{
    position: relative;
    display: flex;
    flex:1;
}

.front, .back{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
}
.front{
    color: #000;
    background-color: #fff;
    align-items: center;
    padding: 15px;
    border-radius: 12px;
    gap: 20px;
}
.letter{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 700;
}

.value{
    font-size: 1.3rem;
    font-weight: bold;

}